
#ghost{
    height: 300px;
    box-shadow: 20px 10px 20px black, 40px 20px 40px yellow;  
}
#ghost2{
    height: 300px;
    box-shadow: 20px 10px 20px black, 40px 20px 40px yellow;  
    float: right;
}

.footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: yellow;
            border: 5px outset black;
  }

  a:hover{
    background-color: yellow;
  }
  #ghost:active{
      height: 400px;
  }
  table:nth-child(odd){
      background-color:rgb(143, 27, 201);
      color:black;
  }
*/
  .senter{
      text-align: center;
  }

  /*Top Nav */

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: purple;
    color: black;
  }
  
  .topnav a.active {
    background-color: purple;
    color: white;
  }