/* Footer */

#ghost{
    height: 300px;
    box-shadow: 20px 10px 20px blue, 30px 20px 40px blue;  
}
#ghost2{
    height: 300px;
    box-shadow: -20px 10px 20px blue, -30px 20px 40px blue;  
    float: right;
}

#ghost3{
  height: 300px;
  box-shadow: 20px 10px 20px purple, 30px 20px 40px purple;  
}

#ghost4{
  height: 300px;
  box-shadow: -20px 10px 20px purple, -30px 20px 40px purple;
  float: right;  
}

#ghost5{
  height: 390px;
  box-shadow: 20px 10px 30px black, 30px 20px 60px purple;  
}

#ghost6{
  height: 390px;
  box-shadow: -20px 10px 30px black, -30px 20px 60px purple;
  float: right;  
}
#ad{
  height: 255px;
  width: 190px;
}

.footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: yellow;
            border: 5px outset black;
  }

  a:hover{
    background-color:gray;
  }
  #ghost:active{
      height: 400px;
  }
  /*
  table:nth-child(odd){
      background-color: lightblue;
      color:black;
  }
*/
  .senter{
      width: 40%;
      text-align: center;
      margin: auto;
      margin-top: 30px;
      padding: 20px;
      border: 4px outset purple;
      background-color: black;
     align-self: center;

  }

  /*Top Nav */

body{margin:0;}

  .topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .main {
    padding: 16px;
    margin-top: 30px;
    border: 4px outset purple;
    background-color: black;
    margin: 30px 700px 5px 15px;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: purple;
    color: black;
  }
  
  .topnav a.active {
    background-color: purple;
    color: white;
  }

  /* WebPage */

  body {
    margin:auto;
  }

  a:link{
    color: Purple;
  }

  /* Divs */

  .myDiv {
    border: 4px outset purple;
    background-color: black;
     margin: 25px 700px 5px 15px;
 }

 .topDiv{
   border: 5px outset gray;
   background-color: rgb(143, 27, 201);
   margin: 25px 700px 5px 15px;
 }

 h1{
   color: white;
 }
 h2{
   color: white;
 }
 h3{
   color: white;
 }
 p{
   color: white;
 }
 li{
   color: white;
 }


 /* Gammel oppgåve */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  color: white;
  background-color: black;
  padding: 20px right;
  margin: 25px 700px 5px 15px;
}
	  
td, th {
  border: 2px solid white;
  text-align: left;
  padding: 8px;
}
	  
	  .serif {
  font-family: "Times New Roman", Times, serif;
}

/* Grid */

.grid-container {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
}

.grid-item {
  padding: 20px;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

/* Dropdown */

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}