h1 {
    text-align: center;
    color: white;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  * {
    box-sizing: border-box;
  }

  .div  {
      border: 5px;
      border-color: blueviolet;
      background-color: black;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }